.contato {
    background: var(--branco);
    padding: 1em;
}

.contato__titulo {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    font-size: 18px;
    font-weight: 500;
}

.contato__texto {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    font-size: 16px;
    font-weight: 300;
    padding: 1em 0;
}

.contato__email {
    width: 90%;
    border: solid 1px var(--azul);
    border-radius: 24px;
    padding: 1em;  
}

.contato__email::placeholder {
    background: url("../assets/email.svg");
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--azul);
    background-repeat: no-repeat;
    background-position: 1em;
    padding-left: 3em;
}

hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.rodape__titulo {
    color: black;
}

.lista__rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em 3em;
    }
    .contato__titulo {
        font-size: 24px;
    }
    .contato__email {
        width: 30%;
    }
    .contato__div {
        width: 35%;
    }
    .rodape {
        display: flex;
        justify-content: space-around;
    }
    .rodape__titulo {
        font-size: 24px;
        padding: 1em 2em 0 1em;
    }
    .lista__rodape {
        display: block;
        padding: 1em;
    }
    .lista__rodape-titulo {
        text-transform: uppercase;
        font-size: 14px;
        color: var(--cinza-claro);
        padding-bottom: 1em;
    }
    .lista__rodape-link {
        text-decoration: none;
        font-size: 14px;
        color: var(--cinza);
        padding-left: .5em;
    }
    .lista__rodape-item {
        display: flex;
        align-items: center;
        padding: .5em;
    }
}